.zcool-qingke-huangyou-regular {
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    text-align: center;
  }

.logo {
    height: 50vh;
}

.logo img {
    max-width: 300px;
    max-height: 300px;
}

#chatButton {
    margin-top: -20vh;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chat-box {
    margin-top: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.messages {
    height: 200px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

.message {
    padding: 5px;
    margin: 5px 0;
}
  
.user-message {
    align-self: flex-end;
    background-color: #e1ffc7;
    padding: 5px 10px;
    border-radius: 10px;
}
  
.bot-message {
    align-self: flex-start;
    background-color: #e6e6e6;
    padding: 5px 10px;
    border-radius: 10px;
}

#userInput {
    width: calc(100% - 60px);
    padding: 5px;
}

#sendButton {
    width: 50px;
    padding: 5px;
    cursor: pointer;
}